.vertical-filmstrip, .stage-filmstrip {
    span:not(.tile-view) .filmstrip {
        &.hide-videos {
            .remote-videos {
                & > div {
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }

        /*
         * Firefox sets flex items to min-height: auto and min-width: auto,
         * preventing flex children from shrinking like they do on other browsers.
         * Setting min-height and min-width 0 is a workaround for the issue so
         * Firefox behaves like other browsers.
         * https://bugzilla.mozilla.org/show_bug.cgi?id=1043520
         */
        @mixin minHWAutoFix() {
            min-height: 0;
            min-width: 0;
        }

    @extend %align-right;
    align-items: flex-end;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    // Sally
    padding: 0;
    // padding: ($desktopAppDragBarHeight - 5px) 5px 10px;
    /**
     * fixed positioning is necessary for remote menus and tooltips to pop
     * out of the scrolling filmstrip. AtlasKit dialogs and tooltips use
     * a library called popper which will position its elements fixed if
     * any parent is also fixed.
     */
    position: fixed;
    // top: 0;
    transition: height .3s ease-in;
    right: 0;
    z-index: $filmstripVideosZ;

    &.reduce-height {
        // sally
        height: calc(100% - #{$newToolbarSizeWithPadding} + 7px);
    }

    /**
     * Hide videos by making them slight to the right.
     */
    .filmstrip__videos {
        @extend %align-right;
        align-items: flex-end;
        bottom: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        padding: 0;
        /**
         * fixed positioning is necessary for remote menus and tooltips to pop
         * out of the scrolling filmstrip. AtlasKit dialogs and tooltips use
         * a library called popper which will position its elements fixed if
         * any parent is also fixed.
         */
        position: fixed;
        top: 0;
        right: 0;
        z-index: $filmstripVideosZ;

        &.hidden {
            bottom: auto;
            /* Gregor, default -196px */
            right: -230px;
        }

        /**
         * Hide videos by making them slight to the right.
         */
        .filmstrip__videos {
            @extend %align-right;
            bottom: 0;
            padding: 0;
            position:relative;
            right: 0;
            width: auto;

    /**
     * Re-styles the local Video to better fit vertical filmstrip layout.
     */
    #filmstripLocalVideo {
        align-self: initial;
        bottom: 5px;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;

        #filmstripLocalVideoThumbnail {
            width: calc(100% - 15px);

            .videocontainer {
                border: 0;
                border-radius: 0px;
                height: 0px;
                width: 100%;
                height: 100%;
                justify-content: center;
            }
        }

    }

    /**
     * Remove unnecssary padding that is normally used to prevent horizontal
     * filmstrip from overlapping the left edge of the screen.
     */
    #filmstripLocalVideo,
    #filmstripRemoteVideos {
        padding: 0;
    }

    #filmstripRemoteVideos {
        @include minHWAutoFix();

        display: flex;
        flex: 1;
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
        overflow-y: scroll;

        #filmstripRemoteVideosContainer {
            @include minHWAutoFix();
            flex-direction: column;
            overflow: visible;
            width: calc(100% - 8px); // 8px for margin + border of the thumbnails

            .videocontainer {
                border: 0;
                border-radius: 0px;
                height: 0px;
                width: 100%;
            }
            .hide-participant {
                display: none;
            }
            // .audio-only {
            //     order: 8;
            // }
            // .has-video {
            //     order: 10;
            // }
            .active-speaker {
               box-shadow: 0 0 0 3px $videoThumbnailSelected;
                margin: 3px;
            //     order: 12;
            }
            // .trainer-participant {
            //     order: 100 !important;
            // }

        }
    }
    #trainerVideoVerticalViewContainer {
        display: none;
    }

        .remote-videos {
            display: flex;
            overscroll-behavior: contain;

            &.height-transition {
                transition: height .3s ease-in;
            }

            & > div {
                position: absolute;
                transition: opacity 1s;
            }

            &.is-not-overflowing > div {
                bottom: 0px;
            }
        }
    }
}
